span {
  font-weight: bold;
}

md-divider {
  border-top-color: #F64747 !important;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}

md-list-item .md-avatar {
  margin-right: 0px;
}

.super_wide {
  width: 100%;
}

.centering {
  margin: auto;
}

.theme {
  background-color: #F64747 !important; 
}

.module_head {
  background-color: white !important; 
}

.theme_text {
  color: #F64747; 
}

.sub_theme_text {
  color: #757575;
}

.mid_tile {
  border-right: 1px solid #F64747;
  border-left: 1px solid #F64747;
}

.tile_pic {
  width: 90%;
  margin: 5%;
}

.tile_text {
  width: 90%;
  margin: 5%;
  text-align: center;
}

.grey_space {
  background-color: rgba(0,0,0,0.1);
  width: 100%;
  height: 25px;
}

.list_container {
  padding: 3%;
}

.grid_bg {
  background-color: rgba(246,71,71,0.2);
}

.article_pic {
  height: 100px;
  display: inline-block;
}

.article_text {
  margin-left: 3%;
  display: inline-block;
}

.article_text_title {
  font-size: 22px;
  font-weight: bold;
  color: #F64747;
}

.article_text_foot {
  font-weight: bold;
  color: #757575;
}

.article_grid_pic {
  width: 96%;
  margin: 2%;
}